:root {
	--bg-color: #f5f5f5;
	--text-color: #6c757d;
	--accent-color: #ffd333;
	--contrast-color: #3d464d;
}

ul.social-icons {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

ul.social-icons a {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  box-shadow: -3px -3px 15px rgba(0, 0, 0, .4);
  text-align: center;
  transition: all .3s;
}

ul.social-icons a:hover {
  background-color: var(--contrast-color);
  color: var(--accent-color);
}

ul.social-icons li {
  margin-right: 10px;
}

ul.social-icons i {
  width: 25px;
  height: 20px;
}

.header-top .btn {
  background-color: #fff;
}

/* #ImageHolder p {
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
} */

#ImageHolder {
  text-align: center;
}

#ImageHolder img{
  max-width: 100%;
}

.btn-group {
  box-shadow: -3px -3px 15px rgba(0, 0, 0, .4);
}

.list-group {
  box-shadow: -3px -3px 15px rgba(0, 0, 0, .4);
}

.header-top > div {
  box-shadow: -3px -3px 15px rgba(0, 0, 0, .4);
}

.hint {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--bg-color);
  /* color: #3d464d; */
}

#LoginModalForm {
  position: absolute;
  top: 0;
  /* box-shadow: -3px -3px 15px rgba(0, 0, 0, .4); */
}