:root {
	--bg-color: #f5f5f5;
	--text-color: #212529;
	--accent-color: #ffd333;
	--contrast-color: #3d464d;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.btn, .dropdown-menu {
	border-radius: 0;
}